/* display: table; */
/* position: relative; */

.filterContainer{
     /* top: 0px; */
    /* bottom:300px; */
    /* position:fixed; */
    /* overflow-y:scroll; */
    /* overflow-x:hidden;  */
    width: 350px;
    margin-top: 10px;
    padding: 10px 24px 8px;
}
.filterContainer>div{
    margin-top:4px;
}
.filterHeading{
   
    color: #091e42 !important;
    font-weight: 500;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    margin-top: 5px;
    color: #091E42;
    width: 100%;
    padding: 10px 24px 8px;
    background-color: white;
}

.checkbox{ 
    padding: 0px 24px 8px;
    background-color: white;
    font-size: 16px ;
    font-family: Roboto,sans-serif;
    color: #536777;
}