body {
  background-color: #fafafa !important;
}

.searchResultContainer {
  /* border: 1px solid; */
  position: absolute;
  display:flex ;
  flex-direction: row;
  margin-left: 2.6%;
  margin-top: 14px;
}

.jobBox {
  margin: 8px 1%;
  border: 1px solid #ebf0f6;
  padding: 24px 24px 16px;
  font-family: Roboto, sans-serif;
  overflow: hidden;
  border-radius: 4px;
  width: 632px;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgb(0 106 194 / 20%);
}

.jobBox:hover {
  -webkit-box-shadow: 0 3px 8px 0 rgb(0 106 194 / 20%);
  -webkit-transition: -webkit-box-shadow .2s linear;
  transition: box-shadow .2s linear;
  cursor: pointer;
}

.jobBox > h1 {
  font-size: 17px;
  color: #091e42 !important;
  max-width: 100%;
  font-weight: 500;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}

.companyName {
  font-size: 15px;
  margin-bottom: 4px;
}

.searchPara {
  font-weight: 500;
  color: #536777;
  font-size: 13px;
  font-family:  sans-serif;
}

.naukriAdd{
  margin-left: 3%;
  position: fixed;
  z-index: 1;
  font-family: Roboto,sans-serif;
  background: #fff;
  border-radius: 4px 0 4px 4px;
  margin-top: 140px;
  width: 280px;
  padding: 24px;
  color: #091E42;
  font-weight: 500;
}
.naukriAdd >img {
  margin-bottom: 30px;
}
.naukriAdd >button {
  margin-top: 18px;
  width: 100%;
  border-radius: 0px;
  border-color: #4A90A2 !important;
  color: #4A90A2 !important;
}